In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

In [13]:
spark = SparkSession \
.builder \
.appName("Python Spark SQL basic example") \
.config("spark.jars",
"/usr/share/java/postgresql.jar") \
.getOrCreate()

In [22]:
spark.read.jdbc

In [23]:
df = spark.read.format("jdbc").option("url","jdbc:postgresql://localhost:5432/praktikum").option("dbtable", "products").option("user", "postgres").option("password", "root").option("driver", "org.postgresql.Driver").load()
df.printSchema()

root
 |-- productid: integer (nullable = true)
 |-- productname: string (nullable = true)
 |-- supplierid: integer (nullable = true)
 |-- categoryid: integer (nullable = true)
 |-- unit: string (nullable = true)
 |-- price: integer (nullable = true)

In [24]:
df.show()

+---------+--------------------+----------+----------+--------------------+-----+
|productid|         productname|supplierid|categoryid|                unit|price|
+---------+--------------------+----------+----------+--------------------+-----+
|        1|               Chais|         1|         1|  10 boxes x 20 bags|   18|
|        2|               Chang|         1|         1|  24   12 oz bottles|   19|
|        3|       Aniseed Syrup|         1|         2| 12   550 ml bottles|   10|
|        4|Chef Anton s Caju...|         2|         2|      48   6 oz jars|   22|
|        5|Chef Anton s Gumb...|         2|         2|            36 boxes|   21|
|        6|Grandma s Boysenb...|         3|         2|      12   8 oz jars|   25|
|        7|Uncle Bob s Organ...|         3|         7|     12   1 lb pkgs.|   30|
|        8|Northwoods Cranbe...|         3|         2|     12   12 oz jars|   40|
|        9|     Mishi Kobe Niku|         4|         6|    18   500 g pkgs.|   97|
|       10|               Ikura|         4|         8|    12   200 ml jars|   31|
|       11|      Queso Cabrales|         5|         4|           1 kg pkg.|   21|
|       12|Queso Manchego La...|         5|         4|    10   500 g pkgs.|   38|
|       13|               Konbu|         6|         8|            2 kg box|    6|
|       14|                Tofu|         6|         7|    40   100 g pkgs.|   23|
|       15|        Genen Shouyu|         6|         2| 24   250 ml bottles|   16|
|       16|             Pavlova|         7|         3|    32   500 g boxes|   17|
|       17|        Alice Mutton|         7|         6|      20   1 kg tins|   39|
|       18|    Carnarvon Tigers|         7|         8|          16 kg pkg.|   63|
|       19|Teatime Chocolate...|         8|         3|10 boxes x 12 pieces|    9|
|       20|Sir Rodney s Marm...|         8|         3|       30 gift boxes|   81|
+---------+--------------------+----------+----------+--------------------+-----+
only showing top 20 rows